<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>ToDoist</title>
</head>
<body>
    <nav class="navbar navbar-light bg-info" >
        <a class="navbar-brand font-weight-bold text-white" href="/home">ToDoist</a>
        <a class="text-white" href="/api/logout">Exit</a>
    </nav>

    <div class="container d-flex align-items-left flex-column">
        <div class="tasks-actions d-flex flex-row justify-content-center align-items-center">
            <div class="create-task" id="newTaskForm">

                <form name="newTask" enctype="multipart/form-data">
                    <div class="input-field">            
                        <label class="text-info font-weight-bold" for="text">Task:</label>
                        <input type="text" name="text" required>
                    </div> 
                    <div class="input-field">            
                        <label class="text-info font-weight-bold" for="date">Deadline</label>
                        <input class="text-info" type="date" name="endTime" required>
                    </div>   
                    <div class="input-field">            
                        <label class="text-info font-weight-bold" for="filedata">Attachments:</label>
                        <input type="file" name="filedata">
                    </div>      
                    <br>
                    <div class="btn btn-info" onclick="createTask()">Create</div>
                </form> 
            </div>  
            
            <div class="create-task deleted" id="editTaskForm">
                <form name="editTask" enctype="multipart/form-data">
                    <input type="hidden" id="taskId" name="id">
                    <input type="hidden" id="deleteFile" name="deleteFile">
                    <div class="input-field">            
                        <label class="text-info" for="taskText">Task:</label>
                        <input id="taskText" type="text" name="text" required>
                    </div> 
                    <div class="input-field">            
                        <label class="text-info" for="taskDate">Deadline</label>
                        <input id="taskDate" type="date" name="endTime" required>
                    </div>   
                    <div class="d-flex justify-content-between">            
                        <label class="text-info" for="taskFile">Attachments:</label>
                        <div class="d-flex justify-content-around align-items-center" id="taskFile"></div>
                        <input id="editFileToTask" type="file" name="filedata">
                    </div>      
                    <div class="d-flex justify-content-start align-items-center">
                        <label class="text-info" for="completed">Completed</label>
                        <input type="checkbox" id="completed" name="completed">
                    </div>
                    <div class="edit-buttons d-flex justify-content-between">
                        <div class="btn btn-primary" onclick="edit()">Edit</div>
                        <div class="btn btn-secondary" onclick="cancelEdit()">Cancel</div>
                    </div>
                </form> 
            </div> 
        </div>
        
    
    </div>   

    <div id="tasksMain" class="container d-flex align-self-start align-items-start flex-wrap">
        <div class="task">
            <div class="controls d-flex justify-content-between">
                <div>edit</div>
                <div>X</div>
            </div>
            <div class="task-main">
                <div class="text-wrap text-break">
                    zadacha
                </div>
                <div>justify</div>
                <div class="d-flex justify-content-end">kek</div>
            </div>
        </div>

    </div>


    <script src="/public/scripts/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>